const CODEXIA_TOKEN = "YOURS";
const GITHUB_TOKEN = "YOURS";
const FIREBASE_CONFIG = {
  apiKey: "YOURS",
  authDomain: "YOURS",
  databaseURL: "YOURS",
  projectId: "YOURS",
  storageBucket: "YOURS",
  messagingSenderId: "YOURS",
  appId: "YOURS",
  measurementId: "YOURS",
};

module.exports = { CODEXIA_TOKEN, GITHUB_TOKEN, FIREBASE_CONFIG };
